* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: cadetblue;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    padding: 30px;
    border:none;
    cursor: pointer;
    margin: 30px;
}

.popup{
    width: 400px;
    font-size: 3rem;
    top:300px;
    left: 30%;
    text-align: center;
    padding: 40px;
    border: 1px solid #c2c2c2;
    background-color: #f0f0f0;
}